

.button{
    margin-top: 5%;
    background-color: #257425;
    padding-top:1.5%;
    padding-bottom: 1.5%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius:5px;
    cursor:pointer;

    &:hover{
        background-color: #44a844;
        transition:all 0.7s ease;
        a{
          font-weight: bold;
        }
    }
    
    a{
        color:#ffffff;
        font-size: 18px;

     
    }
}