.container{


    margin-top: 10%;

    .sobre{
      
        display:flex;
        max-width: 90vw;
        width: 90%;
        justify-content: space-between;
        align-items: center;
        margin:5% auto;

        .titulo{
           font-size: 36px;
           margin: 2% 10%;
        }

        p{
            width: 40%;
            margin-left: 10%;
        }
       .banner{
        margin-right: 10%;
        }
       
    }
}